
$mainWidth: 1920px; 
$bigScreensWidth: 1919px;
$desktopsWidth: 1440px;
$laptopsWidth: 1280px;
$tabletsWidth: 1024px;
$mobileMediumWidth: 768px;
$mobileSmallWidth: 480px;

$mainBackgroundColor: #EEEFF1; 
$footerColor: #34547A;
$fontColor: #FFFFFF;
$titleColor: #727272;